<b><%= kitten.name %></b><br>
Age: <%= kitten.age%><br>
Cuteness: <%= kitten.cuteness%><br>
Softness: <%= kitten.softness%><br>
<%= link_to "Edit this kitten!", edit_path(:id => kitten.id), :method => :post%>
<%= link_to "Delete this kitten!", delete_path(:kitten_id => kitten.id), :confirm => 'Are you sure?', :method => :delete %>
<hr>

