<%= form_for @kitten, url: update_path do |a| %>
  <%= a.text_field :id , style: 'display:none'%>
  Name: <%= a.text_field :name %><br>
  Age: <%= a.text_field :age %><br>
  Cuteness: <%= a.text_field :cuteness %><br>
  Softness: <%= a.text_field :softness %><br>
  <%= a.submit "Edit kitten!" %>
<% end %>
