<h1>Kittens#index</h1>
<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>
<% if flash[:edit] %>
  <div class="edit"><%= flash[:edit] %></div>
<% end %>
<%= link_to 'Create kittens', new_kittens_path %><br>
<hr>
<%= render @kitten %>
