<%= form_for @kitten do |a| %>
  Name:
  <%= a.text_field :name %> <br>
  Age: 
  <%= a.text_field :age %><br>
  Cuteness:
  <%= a.text_field :cuteness %><br>
  Softness:
  <%= a.text_field :softness %><br>
  <%= a.submit "Register kitten!" %>

<% end %>
